.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Inputs{
  border: 3px solid rgb(182, 140, 41);
  padding: 20px 90px;
  background-color: rgb(246, 201, 201);
  border-radius: 6px;
  width: 350px;
  margin: 10px auto;
}
.Inputs input{
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc; /* optional */
  border-radius: 4px; 
}
.At-Right{
  position: absolute;
  top: 10px;
  right: 20px;
  text-align: right;
  padding-right: 20px;
  padding: 20px 0;
  font-size: 14px;

}
.At-Right:hover{
  color: rgb(230, 168, 230);
}
.connect-wallet{
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  align-items: left;
  cursor: pointer;
  transition: 0.25s ease;
}
.connect-wallet:hover{
  color: aqua;
  margin: auto;
  padding: 20px 0;
  border: #61dafb;
  border-radius: 20px;
}
.connect-wallet:active{
  transform: scale(0.96);
  background-color: #3f7fce;
}
.register{
  position: absolute;
  top: 10px;
  left: 170px;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.25s ease;
}
.register:hover{
  color: aqua;
  margin: auto;
  padding: 20px 0;
  border: #61dafb;
  border-radius: 20px;
}
.register:active{
   transform: scale(0.96);
  background-color: #3f7fce;
}

.List-Item{
  display: inline-flex;
  align-items: center;
  background-color: antiquewhite;
  justify-content: center;
  background: linear-gradient(135deg, #00c853, #009624);
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  transition: all 0.25s ease;
}
.List-Item:hover{
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
}
.List-Item:active{
  transform: scale(0.97);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
}
.search-user{
  border: 3px solid rgb(182, 140, 41);
  padding: 20px 90px;
  background-color: rgb(242, 102, 102);
  border-radius: 6px;
  width: 350px;
  margin: 10px auto;
}
.search-user input{
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc; /* optional */
  border-radius: 4px;  
}
.search-button{
  display: inline-flex;
  align-items: center;
  background-color: rgb(246, 161, 161);
  justify-content: center;
  background: linear-gradient(135deg, #00c853, #009624);
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  box-shadow: 0 4px 12px rgba(15, 19, 17, 0.5);
  transition: all 0.25s ease; 
}


.search-button:hover{
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 8px 20px rgba(6, 7, 6, 0.6);
}
.search-button{
  transform: scale(0.97);
  box-shadow: 0 3px 10px rgba(1, 14, 6, 0.6);
}
.items{
  border: 3px solid rgb(182, 140, 41);
  padding: 20px 20px;
  background-color: rgb(178, 150, 255);
  border-radius: 6px;
  margin: 10px auto; 
}